* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  @apply bg-neutral;
  @apply text-tPrimary;
  @apply font-primary;
  @apply text-normal;
  font-weight: 400;
}