* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  @apply bg-neutral;
  @apply text-tPrimary;
  @apply font-primary;
  @apply text-normal;
  font-weight: 400;
}

.shadow-border {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}